@model IEnumerable<Research_Lab.Models.Computer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAuthorizedamin.cshtml";
}


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IsAvailable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lab.LabName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IsAvailable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lab.LabName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Cid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Cid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Cid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
