@model IEnumerable<Research_Lab.Models.BookingInfo>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAuthorized.cshtml";
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingStartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingEndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.C)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingStartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingEndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppUser.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.C.Cid)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Biid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Biid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Biid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
